@charset "UTF-8";
.widget-layout {
    @apply relative mb-10;
    &.col-100{
        @apply w-full;
    }
    &.col-50{
        @apply w-full lg:max-w-[calc(50%-0.25rem-4px)];
    }
    &.col-33{
        @apply w-full sm:max-w-[calc(33%-0.25rem-3px)];
    }
    &.col-25{
        @apply w-full md:max-w-[calc(50%-0.25rem-4px)] lg:max-w-[calc(25%-0.25rem-8px)];
    }
    .widget-content {
        @apply rounded-theme relative shadow-md pb-6 px-6 bg-white overflow-hidden;
        .widget-date-picker{
            @apply flex justify-center items-center w-full h-full absolute z-40 bg-white flex-col p-4 pt-6;
            .widget-date-picker-close{
                @apply absolute ltr:right-1.5 rtl:left-1.5 top-1.5 cursor-pointer text-gray-400 transition-colors hover:text-gray-700;
            }
            .widget-date-input{
                @apply relative flex flex-wrap items-stretch w-full max-w-[280px] pb-1.5;
                input{
                    @apply text-sm appearance-none block flex-auto w-[1%] px-3 py-2 transition-colors
                    rounded-theme ltr:rounded-r-none rtl:rounded-l-none
                    text-neutral-900
                    border border-neutral-200
                    placeholder-neutral-300
                    hover:border-primary-200
                    focus:border-primary-400 focus:outline-none focus:ring-0
                    focus:outline-0 focus:outline-offset-0;
                }
                .input-suffix{
                    @apply px-2.5 flex items-center whitespace-nowrap text-center text-sm cursor-pointer
                    rounded-theme ltr:rounded-l-none rtl:rounded-r-none
                    bg-neutral-50
                    border border-neutral-200 ltr:border-l-0 rtl:border-r-0;
                }
            }
        }
        .widget-date-picker-icon{
            @apply absolute ltr:right-2 rtl:left-2 top-2;
            .widget-calendar-icon{
                @apply text-gray-400 cursor-pointer transition-colors hover:text-gray-700;
            }
        }
    }
    h3 {
        @apply text-[18px];
    }
    .widget-counter {
        @apply pb-0 px-0 text-center h-40 flex justify-center items-center flex-col;
        .widget-numbers {
            @apply text-xl font-semibold text-black;
        }
    }
    .widget-progress {
        @apply pb-0 px-0 text-center h-40 flex justify-between items-center flex-col;
        h3{
            @apply pt-3;
        }
        .widget-numbers {
            @apply text-base font-semibold text-black;
        }
        .render-chart {
            @apply w-full;
        }
    }
    .widget-pie,.widget-donut,.widget-radial-bar,.widget-polar {
        @apply w-full text-center h-[360px] flex justify-between items-center flex-col space-y-0 p-0 pb-4;
        h3{
            @apply pt-6;
        }
        .render-chart {
            @apply w-full mt-3;
        }
    }
    .widget-line,.widget-area,.widget-bar,.widget-column,.widget-radar {
        @apply w-full text-center h-[360px] flex justify-between items-center flex-col space-y-0 p-0;
        h3{
            @apply pt-6;
        }
        .render-chart {
            @apply w-full mt-3;
        }
    }
}
.custom-widget-layout {
    @apply relative mb-10;
    &.widget-width-1-1 {
        @apply w-full;
    }
    &.widget-width-1-2 {
        @apply w-full lg:max-w-[calc(50%-0.25rem-4px)];
    }
    &.widget-width-1-3 {
        @apply w-full sm:max-w-[calc(33%-0.25rem-3px)];
    }
    &.widget-width-1-4 {
        @apply w-full md:max-w-[calc(50%-0.25rem-4px)] lg:max-w-[calc(25%-0.25rem-8px)];
    }
}